# Comments and Basic data types

In [1]:
#these are integers
print(2)
print(10)

2
10

In [2]:
#these are float data type
print(10.6969)
print(5.00)

10.6969
5.0

In [3]:
#these are boolean 
print(True)
print(False)

True
False

In [4]:
# the following are strings
print(" ")
print("Python snake is venomous")
print("123True")

Python snake is venomous
123True

In [5]:
#type-checking
type("monkey")

str

In [6]:
type(69)

int

In [7]:
type(True)

bool

# Variables

In [8]:
num1 = 5                   #storing an integer into  a variable
num2 = 6.9                 #storing a float into a variable
print(num1,num2)           #you can print multiple items using commas

5 6.9

In [9]:
#storing a boolean into a variable
switch = True
print(switch)

True

In [10]:
# storing a string into a variable
name = "Hrishikesh Devdikar"
fav_number= '69'
print(name,fav_number)       #will print 69 next to name

Hrishikesh Devdikar 69

In [11]:
# using two variables to create another variable
result = num1 + num2
print(result)

11.9

In [12]:
# adding, deleting , multiplying , diving from a variable
result += 1   # same as result = result + 1
print(result) 
result *= num1  # same as result = result * num1
print(result)

12.9
64.5

In [13]:
# defining a variable and overwritting it's value
name="Rakidved"
print(name)
name="HD"
print(name)

Rakidved
HD

In [15]:
"""
Exercise 1:
Store the value 3 in a variable called “x” and the value 10 in
a variable called “y”. Save the result of x * y into a separate variable called
“result”. Finally, output the information so it shows like the following:
>>> 3 + 10 = 13
"""
x=3
y=10
result=x*y
print(x," + ",y," = ",result)

3  +  10  =  30

In [16]:
"""
Exercise 2:
Calculate the area of a 245.54” x 13.66” rectangle. Print out
the result. HINT: Area is width multiplied by height.
"""
width=245.54
height=13.66
result= width * height
print("Area = ", result)

Area =  3354.0764

# Working with Strings

In [17]:
# String concatenation

In [18]:
# using the addition operator without variable
name ="Hrishikesh" + " " + "Devdikar"
print(name)

Hrishikesh Devdikar

In [19]:
#using the addition operator with variables
first_name = "Hrishikesh"
last_name = "Devdikar"
full_name = first_name + " " + last_name 
print(full_name)

Hrishikesh Devdikar

In [20]:
# injecting variables using the format method
name = "Hrishikesh"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name,23))

Hello Hrishikesh
Hello Hrishikesh, you are 23 years old!

In [21]:
# using the new f string method
name="Hrishikesh"
print(f"Hello {name}")

Hello Hrishikesh

In [23]:
# one major difference between python 2 and 3
name="Hrishikesh"
print("Hello, %s " %name)
print("Hello, %s %s" %(first_name, last_name))

Hello, Hrishikesh
Hello, Hrishikesh Devdikar

In [24]:
#String Indexing

In [80]:
#using indexes to print each element
word="Hello"
print(word[0])     # will output 'H'
print(word[1])     # will output 'e'
print(word[-1])    # will output 'o'

H
e
o

In [26]:
#String Slicing

In [91]:
print(word[0:2])    #variable[start:stop]
print(word[0:5:2])  #variable[start:stop:step]
print(word[::-1])   #reversing the word

He
Hlo
olleH

In [32]:
"""
Exercise 3: Create a print statement that injects an integer,
float, boolean, and string all into one line. The output should look like
“23 4.5 False John”.
"""
num_int=23
num_float=4.5
boo=False
print(f"{num_int} {num_float} {boo} {name}")

#alternative: print("{} {} {} {}".format(num_int,num_float,boo,name))

23 4.5 False Hrishikesh

# String Manipulation

In [33]:
# using the title method to capitalize the first letter of the string
name = "hrishikesh devdikar"
print(name.title())

Hrishikesh Devdikar

In [35]:
# using the lower method to capitalize the first letter of the string
name = "HrishikesH devdikar"
print(name.lower())

hrishikesh devdikar

In [36]:
# using the upper method to capitalize the first letter of the string
name = "hrishikesh devdikar"
print(name.upper())

HRISHIKESH DEVDIKAR

In [38]:
# replacing an exclamation mark with a period
words= "Hello there!"
print(words.replace("!","."))  #use of replace("what","with what")
words= words.replace("!",".") # to properly store the replace
print(words)

Hello there.
Hello there.

In [39]:
# finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))   #use of find()

5

In [40]:
# removing white spaces from both ends with strip
name = "   Hrishikesh   "
print(name.strip())

Hrishikesh

In [41]:
# removing white spaces from left end with strip
name = "   Hrishikesh   "
print(name.lstrip())

Hrishikesh

In [42]:
# removing white spaces from right end with strip
name = "   Hrishikesh   "
print(name.rstrip())

   Hrishikesh

In [43]:
# converting a string into a list of words
s = "These words are seperated by spaces"
print(s.split())   #seperates the words into list

['These', 'words', 'are', 'seperated', 'by', 'spaces']

In [44]:
"""
Exercise 4:Try manipulating the string “uppercase” so it prints out as all
uppercase letters.

"""
str= "uppercase"
print(str.upper())

UPPERCASE

In [48]:
"""
Exercise 5:Strip all the dollar signs from the left side of this string “$$Hrishikesh
Devdikar”.

"""
str= "$$Hrishikesh Devdikar"
print(str.strip('$'))
#alternate: print(str.lstrip('$'))

Hrishikesh Devdikar

# Project : Printing Receipts

In [74]:
#create a product and price for three items
p1_name,p1_price = "Books", 49.95
p2_name,p2_price = "Computer", 579.99
p3_name,p3_price = "Monitor", 124.89

#create a company name and information
company_name="coding temple, inc."
company_address="283 Franklin St."
company_city="Boston, MA"

#declare ending message
message= "Thanks for shopping with us today!"

#create a top border
print("*" * 50)

# print company information using format function
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

#print line between sections
print("="*50)

# print out header for section of items
print("\tProduct Name\tProduct Price")

#Create a print statement for each product using f-insert
print(f"\t{p1_name}\t \t${p1_price}")
print(f"\t{p2_name} \t${p2_price}")
print(f"\t{p3_name}\t \t${p3_price}")

#print line between sections
print("="*50)

# Printing header for total
print("\t\t\tTotal")

#calculating the total
total=p1_price + p2_price + p3_price
print(f"\t\t\t${total}")

#print line between sections
print("="*50)

#print ending message
print(f"\n\t{message}\n")

#create a bottom border
print("*" * 50)

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books	 	$49.95
	Computer 	$579.99
	Monitor	 	$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************